@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playball&family=Righteous&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Playball&family=Poppins:wght@300;500;600&family=Righteous&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat+Alternates:ital,wght@0,200;1,100;1,200&family=Oswald:wght@200;300;400;500;600;700&family=Playball&family=Poppins:wght@300;500;600&family=Righteous&family=Twinkle+Star&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat+Alternates:ital,wght@0,200;1,100;1,200&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,300;1,400;1,500&family=Oswald:wght@200;300;400;500;600;700&family=Playball&family=Poppins:wght@300;500;600&family=Righteous&family=Twinkle+Star&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat+Alternates:ital,wght@0,200;1,100;1,200&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,700;1,300;1,400;1,500&family=Oswald:wght@200;300;400;500;600;700&family=Playball&family=Poppins:wght@300;500;600&family=Righteous&family=Twinkle+Star&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: url(./../img/bg.png);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: orange;
    font-size: 35px;
    font-family: 'Playball';
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: orange;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 2.4%;
    color: rgb(245, 245, 245);
    font-family: sans-serif;

}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}
.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    padding-left: 20px;
    margin-top: 6%;
    letter-spacing: 2px;   
}

.content h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 23px;
    color: #B2FC69;
    padding-left: 20;
    margin-left: 7%;
    margin-top: 3%;
    letter-spacing: 2px;

}


.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 3s ease;
}
.content .cn a{
    text-decoration: none;
    color: black;
    transition: 3s ease;
}
.cn:hover{
    background: white;
}

.form{
    width: 250px;
    height: 280px;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

.form input:focus{
    outline: none;
}
::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 2s ease;

}

.btnn:hover{
    background: white;
    color: orange;

}

.btnn a{
    text-decoration: none;
    color: black;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: orange;

}

.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;

}
.icons a{
    text-decoration: none;
    color: yellow;
}
.icons ion-icon{
    color: yellow;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;

}
.icons ion-icon:hover{
    color: orange;

}

.hmimg{
   width: 500px;
   padding-left: 6%;
}

.aboutus{
    padding-left: 67%;
    float: left;
    margin-top: -48%;
    font-size: 30px;
    color: rgb(7, 60, 125);
    font-family: 'Montserrat Alternates', sans-serif
}

.aboutus-content{
    padding-left: 50%;
    float: left;
    margin-top: -43%;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-right: 40px;
    text-align: justify;

}






.ourservice{
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 900px;
    

}


.rk-service{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.container{
    position: relative;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.container .service-box{
    position: relative;
    width: 300px;
    height: 280px;
    background-color: #51446e;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    overflow: hidden;
}

.container .service-box .service-icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--i);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition-delay: 0.25s;
}

.container .service-box:hover .service-icon{
    top: 30px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50px;
    transition-delay: 0s;

}


.container .service-box .service-icon ion-icon{
    font-size: 10em;
    color: white;
    transition: 0.5s;
}

.container .service-box:hover .service-icon ion-icon{
    font-size: 2em;
}

.container .service-box .service-content{
    position: relative;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 100px;
    z-index: 1;
    transform: scale(0);
    transition: 0.5s;
}

.container .service-box:hover .service-content{
    transform: scale(1);
    transition-delay: 0.25s;
}


.container .service-box .service-content h2{
    margin-top: 10px;
    margin-bottom: 5px;
}

.container .service-box .service-content p{
    font-weight: 300;
    font-weight: 1.5em;
}







.choose-us{
    display: flex;
    margin: 30px;
    text-align: justify;
    padding-top: 40px;
    
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 95%;
    padding-right: -30px;
}
.choose-us .half-width h2{
    text-align: center;
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    padding-top: 70px;
}
.choose-us .half-width p{
    
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 15px;
    padding-top: 70px;
}